<!--
  ~ Mantou Earth - Live your wallpaper with live earth
  ~ Copyright (C) 2015  XiNGRZ <xxx@oxo.ooo>
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ooo.oxo.apps.earth">

    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="com.google.android.permission.PROVIDE_BACKGROUND" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service
            android:name=".EarthWatchFaceService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_WALLPAPER"
            android:process=":face">

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/watch_face" />

            <meta-data
                android:name="com.google.android.wearable.watchface.preview"
                android:resource="@drawable/preview_square" />

            <meta-data
                android:name="com.google.android.wearable.watchface.preview_circular"
                android:resource="@drawable/preview_round" />

            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
                <category android:name="com.google.android.wearable.watchface.category.WATCH_FACE" />
            </intent-filter>

        </service>

        <provider
            android:name=".provider.EarthsProvider"
            android:authorities="${applicationId}.earths"
            android:exported="false" />

        <service
            android:name=".WatchSyncService"
            android:process=":wear_sync">

            <intent-filter>
                <action
                    android:name="com.google.android.gms.wearable.BIND_LISTENER"
                    tools:ignore="WearableBindListener" />
            </intent-filter>

        </service>

    </application>

</manifest>
